@mixin dimensions($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin border() {
  border: 0.25rem solid #FFFFFF;
  border-radius: 2rem;
}

@mixin absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
