@import "../utilities/colors";
@import "../utilities/mixins";

.home-page {
  @include dimensions(100vw, 100vh);
  @include flex(column, center, center);
  background-color: $discord-gray-200;

  &__header {
    @include flex(row, flex-start, center);
    margin-bottom: 5rem;

    img {
      margin-right: 3rem;
      max-width: 10rem;
      max-height: 10rem;
    }
  }

  &__buttons {
    @include flex(row, space-between, center);
    width: 30rem;

    button {
      @include border;
      background: transparent;
      padding: 1.75rem;
      font-size: 1.75rem;
      line-height: 2rem;
      color: #FFFFFF;
      cursor: pointer;
    }

    button:hover {
      background: $discord-gray-400;
    }
  }
}