@import "../utilities/colors";
@import "../utilities/mixins";

.home-page {
  @include dimensions(100vw, 100vh);
  @include flex(column, center, center);
  background-color: $discord-gray-200;

  .home-page-header {
    @include flex(row, flex-start, center);
    margin-bottom: 5rem;

    img {
      margin-right: 3rem;
      max-width: 10rem;
      max-height: 10rem;
    }
  }

  .home-page-buttons {
    @include dimensions(30rem, fit-content);
    @include flex(row, space-between, center);
  }
}