h1 {
  font-size: 8rem;
  font-weight: 600;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
}

h4, label, input, svg, p, a {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

