@import "../utilities/colors";
@import "../utilities/mixins";

.guild-sidebar {
  @include dimensions(5rem, 100vh);
  background-color: $discord-gray-400;
}

.personal-sidebar {
  @include dimensions(15rem, 100vh);
  background-color: $discord-gray-300;
}

.personal-sidebar-scroll-box {
  @include dimensions(100%, calc(100% - 4rem));
  @include flex(column, flex-start, flex-start);

  .personal-sidebar-friends {
    @include dimensions(auto, 4rem);
    @include flex(row, flex-start, center);
    margin: 0.5rem 1rem 0.5rem 1rem;

    div {
      margin-left: 0.5rem;
      font-size: 1.5rem;
    }
  }

  .personal-sidebar-direct-messages {
    @include dimensions(100%, auto);
    @include flex(row, space-between, center);
    padding-left: 1rem;

    svg {
      font-size: 0.75rem;
      margin-right: 1rem;
    }
  }
}

.personal-sidebar-info-box {
  @include dimensions(100%, 4rem);
  @include flex(row, space-between, center);
  margin-top: auto;
  background-color: darken($discord-gray-300, 2%);
  
  div {
    display: flex;

    img {
      border-radius: 50%;
      margin: 1rem;
      max-width: 2rem;
      max-height: 2rem;
    }

    div {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
    }
  }

  svg {
    margin: 1rem;
  }
}